body {

  background-color: rgb(239, 238, 198);
  color: rgb(10, 10, 10);
  font-weight: bold;
}


.Navbar {


  display: flex; justify-content: center;
  background-color: rgb(13, 13, 13);
  color: beige;
  height: 90px;
  width: 100%;
  font-size:xx-large;

}

.Link {

  margin: 20px;
  color: rgb(250, 246, 246);
  text-decoration: none;
  transition: 1s;
  border-radius: 15px;
  
}

.Link:hover {

  color: rgb(14, 15, 14);
  background-color: crimson;
  border-radius: 15px;
  box-shadow: 5px 5px 10px crimson ;
  transition: ease-in;
}

.iconContainer{

  display: flex; justify-content: space-evenly;
  padding-top: 5%;
  font-size: 30px;
}

.Control {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  

}

.Profile {

display: flex; justify-content: center;

}

.box {
  height: 200px;
  width: 20%;
  background-color: crimson;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  
}

.Homepage {

  display: flex; justify-content: center;
}

.Content {

  display: flex; justify-content: center;
  justify-content: space-evenly;
  margin: 2em;

}

.Projects {

  display: flex; 
  justify-content: space-evenly;
  margin: 2em;
}


.thumbnail {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  position: relative;
}

.ProjectDesc {
  text-align: center;
  width: 80%;
  font-weight: bold;
  padding-bottom: 20%;
  justify-content: center;
  align-items: center;

}

.title {
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: bold;
}


.thumbnail:hover {
  background-color: black;
  color: white;
}

.button {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  font-size: 20px;
  margin: 1px 5px 1px 30px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline;
  border-radius: 10px;
  
  
  
}

.flex  {

  display: flex;
  justify-content: space-around flex-end ;
  align-items: center;
  position: absolute;
  bottom: 0;
  
}


#neon {
  position: relative;
  padding: 10px 10px;
  margin: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
}
#neon:hover {
  background: crimson;
  color: #111;
  box-shadow: 0 0 50px crimson;
}
#neon:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgb(255, 5, 226);
  border-left: 2px solid rgb(255, 5, 226); 
  transition: 0.5s;
}
#neon:hover:before {
  width: 100%;
  height: 100%;
}
#neon:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgb(255, 5, 226);
  border-right: 2px solid rgb(255, 5, 226); 
  transition: 0.5s;
}
#neon:hover:after {
  width: 100%;
  height: 100%;
}